.about-us {
    .about-us__timeline {
        display: flex;
        flex-direction: column;
    }

    .about-us__timeline-item {
        position: relative;
        width: 100%;
        height: 100%;

        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }

    .about-us__caption {
        position: absolute;
        top: 0;
        width: 307px;

        @include tablet-big {
            width: 250px;
        }


        @include tablet {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
        }
    }

    .about-us__caption--left {
        right: 60%;
        text-align: right;

        @include tablet-big {
            right: 65%;
        }


        @include tablet {
            right: 0;
            text-align: center;
        }
    }

    .about-us__caption--right {
        left: 60%;
        text-align: left;

        @include tablet-big {
            left: 65%;
        }


        @include tablet {
            left: 0;
            text-align: center;
        }
    }

    .about-us__heading--uppercase {
        color: $color-header;
        font-family: $font-primary;
        font-size: 18px;
        font-weight: $bold;
        text-transform: uppercase;
        padding-top: 2px;
    }

    .about-us__heading--capitalize {
        @extend .about-us__heading--uppercase;

        text-transform: capitalize;
        padding-bottom: 17px;
    }

    .about-us__paragraph {
        color: $color-paragraph;
        font-family: $font-tertiary;
        font-size: 14px;
        font-weight: $normal;

        @include tablet {
            width: 70%;
        }
    }

    .about-us__image {
        border-radius: 50%;
        border: 7px solid #f1f1f1;
        margin-bottom: -4px;
        padding: 0;

        @include tablet {
            margin-top: 30px;
        }
    }

    .about-us__line {
        display: block;
        height: 94px;
        width: 3px;
        background-color: #f1f1f1;
        margin: 0 auto;
    }

    .about-us__image--last {
        border: none;
        margin-bottom: 126px;
    }
}
