.contact-us {
    background: url(../images/map-image.jpg) right no-repeat $color-header;

    .contact-us__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 980px;

        @include tablet {
            flex-direction: column;
        }
    }

    .contact-us__sender {
        display: flex;
        flex-direction: column;
        width: 48.5%;

        @include tablet {
            width: 100%;
        }
    }

    .contact-us__data {
        height: 51px;
        margin-bottom: 29px;
    }

    .contact-us__message {
        width: 48.5%;
        height: 210px;
        margin-bottom: 29px;
        padding-top: 20px;

        @include tablet {
            width: 100%;
        }
    }

    .contact-us__button {
        margin-bottom: 115px;
        border: none;
        cursor: pointer;
    }

    .contact-us__placeholder {
        padding-left: 20px;
        text-transform: uppercase;
        color: #bbbbbb;
        font-family: $font-primary;
        font-size: 14px;
        font-weight: $bold;
    }
}
