.button {
    color: #fff;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: $bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 51px;
    background-color: $yellow;
    transition: all 0.2s ease-in-out;

    &:hover {        
        background-color: #f7dc7e;
        color: #555;        
    }

    @include tablet-big {
        padding: 20px 40px;
        font-size: 14px;
    }


    @include phone {
        padding: 15px 30px;
        font-size: 12px;
    }
}
