.button--yellow {
    color: #fff;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: $bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 51px;
    background-color: $yellow;
    @include tablet {
        padding: 20px 40px;
        font-size: 14px;
    }
}
