.main-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/background-image.png) center (0 / cover);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
    text-align: center;

    .main-header__slogan {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include tablet {
            top: 65%;
        }
    }

    .main-header__subheading {
        color: #fff;
        font-family: $font-secondary;
        font-size: 40px;
        font-style: italic;
        text-transform: capitalize;
        margin: 0 0 52px 0;

        @include tablet {
            margin-bottom: 20px;
        }

        @include phone {
            font-size: 30px;
        }
    }

    .main-header__heading {
        color: $white;
        text-transform: uppercase;
        font-family: $font-primary;
        font-size: 75px;
        font-weight: $bold;
        margin: 0;

        @include desktop {
            font-size: 65px;
        }

        @include tablet-big {
            font-size: 60px;
        }

        @include tablet {
            font-size: 40px;
        }

        @include phone {
            font-size: 35px;
        }
    }

    .main-header__button {
        margin: 0 auto;
        position: absolute;
        bottom: 15vh;
        left: 50%;
        transform: translate(-50%, -50%);

        @include tablet {
            bottom: 7vh;
        }
    }
}
