.partnership {
    .partnership__icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .partnership__icon {
            padding: 67px 20px;
        }
    }
}