.services {
    .services__content {
        display: flex;
        justify-content: space-around;

        @include phone {
            flex-direction: column;
        }
    }

    .services-types {
        width: 33%;

        @include phone {
            width: 100%;
        }
    }

    .services__icons {
        color: $yellow;
    }

    .services-types__heading {
        color: $color-header;
        font-family: $font-primary;
        font-size: 18px;
        font-weight: $bold;
        padding-top: 27px;
        margin: 0;
    }

    .services-types__content {
        color: $color-paragraph;
        font-family: $font-tertiary;
        font-size: 14px;
        font-weight: $normal;
        padding: 18px 28px 118px 28px;
        margin: 0;

        @include phone {
            padding: 25px 0;
        }
    }

    .services-types__content--last {
        @include phone {
            padding-bottom: 118px;
        }
    }
}
