/*FONT FAMILY*/
$font-primary: "Montserrat", sans-serif;
$font-secondary: "droid-serif", serif;
$font-tertiary: "Roboto Slab", serif;

/*COLORS*/
$white: #fff;
$color-header: #222222;
$yellow: #fed136;
$color-paragraph: #777777;

/*FONT WEIGHT*/
$normal: 400;
$bold: 700;

/*WIDTH*/
$phoneWidth: 576px;
$tabletWidth: 768px;
$tabletBigWidth: 992px;
$desktopWidth: 1200px;
