* {
    box-sizing: border-box;
    margin: 0;
}

.row {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 933px;
    align-items: center;
}

.main-header {
    position: fixed;
    width: 100%;
    display: flex;

    .main-header__logo {
        padding-left: 20px;

        .main-header__logo-img {
            height: 28px;
        }
    }

    .main-header__spacer {
        flex: 1;
    }

    .main-nav {
        justify-content: flex-end;

        .main-nav__list {
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            padding-right: 20px;

            .main-nav__item {
                .main-nav__link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 41px;
                    padding: 0 15px;
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;

                    &:hover {
                        color: #fed136;
                    }
                }
            }
        }
    }
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/background-image.png) center (0 / cover);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
    text-align: center;

    .hero__slogan {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .hero__subheading {
            color: #fff;
            font-family: "Droid Serif";
            font-size: 40px;
            font-style: italic;
            letter-spacing: -1px;
            text-transform: capitalize;
            margin: 0 0 52px 0;
        }

        .hero__heading {
            color: #fff;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-size: 75px;
            font-weight: 700;
            letter-spacing: -1.88px;
            margin: 0;
        }
    }

    .hero__button {
        margin: 0 auto;
        position: absolute;
        bottom: 15vh;
        left: 50%;
        transform: translate(-50%, -50%);

        a {
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            padding: 25px 51px;
            background-color: #fed136;
        }
    }
}

.section {
    width: 100%;
    text-align: center;
    margin: 0 auto;

    .section__heading--primary {
        color: #222222;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1px;
        padding-bottom: 19px;
        padding-top: 119px;
        margin: 0;
    }

    .section__heading--secondary {
        color: #777777;
        font-family: "Droid Serif";
        font-size: 16px;
        font-style: italic;
        padding-bottom: 84px;
        margin: 0;
    }

    .section__heading--light {
        color: #fff;
    }
}

.section--dark {
    background-color: #f7f7f7;
}

/*.section--black {
    background-color: #222222;
}*/

.services {
    .services__content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .services-types {
            width: 274px;

            .services__icons {
                color: #fed136;
            }

            .services-types__heading {
                color: #222222;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: -0.45px;
                padding-top: 27px;
                margin: 0;
            }

            .services-types__content {
                color: #777777;
                font-family: "Roboto Slab";
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -0.35px;
                padding: 18px 28px 118px 28px;
                margin: 0;
            }
        }
    }
}

.portfolio__gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .portfolio__project {
        background-color: #fff;
        margin-bottom: 49px;

        .portfolio__caption {
            .portfolio__caption--bold {
                color: #333333;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: -0.45px;
                padding-top: 29px;
            }

            .portfolio__caption--normal {
                color: #737373;
                font-family: "Droid Serif";
                font-size: 14px;
                font-style: italic;
                padding-bottom: 27px;
            }
        }
    }
}

.partnership {
    .partnership__icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .partnership__icon {
            padding: 67px 20px;
        }
    }
}

.contact-us {
    background: url(../images/map-image.jpg) right no-repeat #222;

    .contact-us__form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 940px;

        .contact__sender {
            display: flex;
            flex-direction: column;

            .contact-us__data {
                width: 455px;
                height: 51px;
                margin: 0 14px 29px 0;
            }
        }

        .contact-us__message {
            width: 455px;
            height: 210px;
            margin: 0 0 29px 14px;
            padding-top: 20px;
        }
    }

    .contact-us__button {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        padding: 25px 51px;
        background-color: #fed136;
        margin-bottom: 115px;
    }

    .contact-us__placeholder {
        padding-left: 20px;
        text-transform: uppercase;
        color: #bbbbbb;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }
}

.main-footer {
    .main-footer__content {
        display: flex;
        justify-content: center;
        flex-flow: wrap;

        .main-footer__copyright {
            flex: 40%;
            padding: 33px 0;
            color: #555555;
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }

        .main-footer__social-media {
            flex: 60%;
        }
    }
}
