
// IMPORT SECTIONS
@import 'variables';
@import 'mixins';
@import 'global';
@import 'animations';
@import 'section';
@import 'main-header';
@import 'main-nav';
@import 'services';
@import 'portfolio';
@import 'about-us';
@import 'contact-us';
@import 'partnership';
@import 'team';
@import 'footer';


* {
    box-sizing: border-box;
    margin: 0;
}

.row {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 973px;
    align-items: center;
    padding: 0 20px;
}
